.content-block {
  padding: 10px 0 0 0;
}

nav,
.page-footer {
  background-color: #0d88c3;
}

.large.material-icons {
  font-size: 40px;
}

.title{
  margin-bottom: 20px;
}

.empty-msg{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-msg > img{
  max-width: 150px;
}

